@import "./components/variables.scss";
@import "./components/mixin.scss";

.container{
    margin: 0 auto;
    max-width: 1110px;
    padding:0 15px;
    
}

// first-screen

.first-screen{
    background-image: url(./images/fs-background-img.png);
}
.first-screen__container{
    padding-bottom: 355px;
}
.first-screen__top-menu{
    @include flex;
    padding-top:20px;
    align-items: flex-end;
}
.first-screen__text-container{
    margin:123px auto 0px;
    text-align: center;
}
h1{
    font-size: 64px;
    line-height: 1.4;
    text-transform:uppercase;
    color:$color-white;
}
.first-screen__text{
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color:$color-white;
    margin-top:35px;
}

// projects

.company-info{
    background-color:$color-gray;
    z-index:5;
    padding: 57px 130px;
    @include flex;
    margin-top:-155px;
}

.company-info__numbers{
    color:$color-orange;
    font-size:72px;
    line-height:1.4;

}
.company-info__years{
    font-size:36px;
    color:$color-black;
    line-height:1.4;
    text-transform: uppercase;
}
.company-info__text{
    color:$color-light-gray;
    font-size:18px;
    line-height:1.5;
}
.projects__header{
    font-size:32px;
    line-height:1.5;
    text-align: center;
    margin:100px 0px 60px 0px;
    color:$color-dark;
}
.gazprom{
    @include flex;
}
.gazprom__strip{
    background-color:$color-orange;
    max-width:55px;
    max-height:6px;
    height:100%;
    margin: 40px 0px 15px 0px;
}
.gazprom__header{
    text-transform: capitalize;
    color:$color-dark;
    font-size:24px;
    line-height:1.4;
    

}
.gazprom__text{
    color: rgba(153, 153, 153, 1);
    font-size:16px;
    line-height:1.4;
    margin:20px 0px 140px 0px;
    max-width:340px;
}


// feedback
.feedback{
    background-color:$color-orange
}
.feedback__container{
    padding:25px 0px;
    @include flex;
}

.feedback__header{
    color:$color-white;
    font-size:48px;
    line-height: 1.5;
    text-transform:uppercase;
}

.feedback__text{
    color:$color-white;
    font-size:24px;
    line-height:1.5;
    text-transform:uppercase;
}

.feedback__button{
    font-size:14px;
    color:$color-black;
    background-color:$color-white;
    padding:14px 30px 14px 63px;
    align-self:center;
    position:relative;

}
.feedback__button::before{
    content: url(./images/button-before.png);
    right:120px;
    top:15px;
    position:absolute;
}
// portfolio

.portfolio{
    padding:150px 0px;

}

.portfolio__header{
    font-size:36px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align:center;
}

.portfolio__content-wrapper{
    padding-top:66px;
    @include flex;
    flex-wrap:wrap;
   
   

}
.portfolio__items-wrapper:nth-child(-n+3){
    margin-bottom:20px;
}
.portfolio__items-wrapper{
    background-color:$color-gray;
   
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:59px 92px 29px 86px;

}
.portfolio__text{
    text-align:center;
    margin-top:30px;
    max-width:172px;
    line-height:1.4;
    font-size:19px;
    text-transform: uppercase;
   
   

}

